<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Mugil</title>
</head>

<body>
  <form action="/login" method="POST">
    <input type="hidden" name="CSRF_TOKEN" id="csrf_token" >

    <label for="email">Email</label>
    <input type="input" name="email" id="email" placeholder="Email">

    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Password">

    <input type="submit" value="Login">
  </form>

  <script>
  (function(){
    function csrfToken() {
      var fields = document.cookie.split(';');
      for (var i = 0; i < fields.length; ++i) {
        var kv = fields[i].split('=');
	if (kv[0] === "_csrf") {
	  return kv[1];
	}
      }
      return null;
    }
    document.getElementById("csrf_token").value = csrfToken();
  })();
  </script>
</body>
</html>
