<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Mugil</title>
</head>

<body>
  <h1>Task list</h1>
  <table>
  {{range .}}
    <tr>
      <td>{{.Priority}}</td>
      <td>{{.Time}}</td>
      <td>{{.Description}}</td>
      <td>Done = {{.Done}}</td>
      <td>Canceled = {{.Canceled}}</td>
    </tr>
  {{end}}
  </table>

  <form action="/tasks" method="POST">
    <input type="hidden" name="CSRF_TOKEN" id="csrf_token" >

    <label for="time">Time</label>
    <select name="time">
      <option value="1800000000000">30min</option>
      <option value="3600000000000">1h</option>
      <option value="5400000000000">1h30min</option>
      <option value="7200000000000">2h</option>
    </select>

    <label for="priority">Priority</label>
    <select name="priority">
      <option value="S">S</option>
      <option value="A">A</option>
      <option value="B">B</option>
      <option value="C">C</option>
    </select>

    <label for="description">Description</label>
    <input type="input" name="description" id="description">

    <input type="submit" value="Submit">
  </form>

  <script>
  (function(){
    function csrfToken() {
      var fields = document.cookie.split(';');
      for (var i = 0; i < fields.length; ++i) {
        var kv = fields[i].split('=');
	if (kv[0] === "_csrf") {
	  return kv[1];
	}
      }
      return null;
    }
    document.getElementById("csrf_token").value = csrfToken();
  })();
  </script>
</body>
</html>
